

<div class="background">
  <div class="bg-gradient flex">
    <div class="form-group">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="background-white">
              <h2>Sign up</h2>

                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>

                  <div class="form-inputs">
                  <%= f.input :first_name, required: true, placeholder: "Your first_name" %>
                  <%= f.input :email, required: true, autofocus: true, placeholder: "Your mail" %>
                  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "8 caracters minimum" %>
                  <%= f.input :password_confirmation, required: true %>
                  <%= f.input :phone, required: true, placeholder: "Your phone number- We call you now!"%>
              </div>

                <div class="form-actions">
                <%= f.button :submit, "Sign up", class: "btn btn-brand btn-full-width" %>
                </div>
              <% end %>
                <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

