<div class="dashboard-container">

  <h1 class="text-center">Dashboard</h1>
  <div class="dashboard-tab">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tab-width"><i class="fa fa-home"></i>  Pending</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="tab-width allocated"><i class="fa fa-clock-o"></i>  Allocated to me</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="tab-width"><i class="fa fa-check"></i>  Done</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active tab-content-padding" id="home">
        <%@repairs_saver_nil.each do |repair|%>
          <ul class="list-unstyled">
            <li>
              <strong><%=repair.category%></strong>
              <%=repair.address%>
              <%= simple_form_for repair do |f| %>
                <%= f.input :saver_id,:as => :hidden, :input_html => { :value => current_user.id } %>
                <%= f.button :submit, "I handle it!", class: "btn btn-success btn-handle" %>
              <% end %>
            </li>
          </ul>
        <%end%>
      </div>
      <div role="tabpanel" class="tab-pane tab-content-padding" id="profile">
        <%current_user.missions.each do |mission|%>
        <ul class="list-unstyled">
          <li>
            <%=mission.category%>
            <%=mission.address%>
          </li>
        </ul>
        <%end%>
      </div>
      <div role="tabpanel" class="tab-pane tab-content-padding" id="messages">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi accusantium blanditiis, rerum maiores porro laboriosam, ex iusto consequuntur. Deleniti dolorum dolore quas autem odio quia assumenda amet error laudantium perspiciatis!</div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
    $('.btn-handle').on('click', function(event) {
      $(this).toggleClass('img-circle');
    });
  });
</script>
