<div class="dashboard-container">

  <h1 class="text-center dashboard-h1">Dashboard</h1>
  <div class="dashboard-tab">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tab-width"><i class="fa fa-home"></i>  Pending</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="tab-width allocated"><i class="fa fa-clock-o"></i>  Allocated to me</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="tab-width"><i class="fa fa-check"></i>  Done</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active tab-content-padding" id="home">
          <%@repairs_saver_nil.each do |repair|%>
              <ul class="list-unstyled">
                <li>
                  <strong><%=repair.category%></strong>
                  <%=repair.address%>
                  <%=repair.created_at.time%>
                  <%= form_tag repair_update_saver_path(repair) do %>
                    <%= hidden_field_tag :saver_id, current_user.id  %>
                    <%= submit_tag "I handle it!", class: "btn btn-success btn-handle" %>
                  <% end %>
                </li>
              </ul>
          <%end%>
      </div>
      <div role="tabpanel" class="tab-pane tab-content-padding" id="profile">
        <%current_user.missions.where(status: "draft").each do |mission|%>
        <ul class="list-unstyled">
          <li class = "dashboard-li-padding">
            <%=mission.category%>
            <%=mission.address%>
              <%= form_tag repair_update_status_path(mission) do %>
                <%= hidden_field_tag :status, mission.status = "done" %>
                <%= submit_tag "Done !", class: "btn btn-success btn-handle" %>
              <% end %>
          </li>
        </ul>
        <%end%>
      </div>
      <div role="tabpanel" class="tab-pane tab-content-padding" id="messages">
        <%current_user.missions.where(status: "done").each do |mission| %>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-check"></i>
            <%=mission.category%>
            <%=mission.address%>
            <%=mission.status %>
          </li>
        </ul>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
    $('.btn-handle').on('click', function(event) {
      $(this).toggleClass('img-circle');
    });
  });
</script>
