<section class="cd-intro">
  <div class="cd-intro-content bouncy">
    <div class="background-home">
      <div class="gradient">
        <div class="content text-center">
          <h1>You will never ride alone !</h1>
          <p style="font-size: 150%;">Fuzzy tired ? broken chain ? We come to fix it in less than 20 mins!</p>
            <%= form_tag(new_repair_path, method: :get, class: "form-inline") do %>
              <%= text_field_tag :address, nil, class: "form-control", placeholder: "Address", id: "user_input_autocomplete_address"%>
              <%= text_field_tag :postal_code, nil, class: "form-control", id: "postal_code", :type => "hidden"%>
              <%= submit_tag "Rescue me now!", class: "btn btn-brand"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




  <div class="home-wrapper">

      <div class="row">
         <h1 class="text-center">How to?</h1>
            <div class="col-xs-12 col-sm-4 card-feature">
              <%= image_tag('FTI.png') %>
            <p class="text-center zone-text">Flate tyre? Worn brakes? Broken chain? Let's connect to Bike's Angels and call a saver!</p>
          </div>
        <div class="col-xs-12 col-sm-4 card-feature">
          <%= image_tag('logo.png') %>
            <p class="text-center zone-text">Keep cool, Bike's Angel is organising the rescue, you will be saved whithin a few minutes!</p>
          </div>
        <div class="col-xs-12 col-sm-4 card-feature">
        <%= image_tag('bikepoint.png') %>
            <p class="text-center zone-text">Our Angel do the job, your bike is running on like in day one! Finish your ride in serenity!</p>
        </div>
      </div>

  </div>

  <div class="home-wrapper">
      <div class="row">
         <h1 class="text-center" style="margin-bottom: 40px">They will soon talk about us!</h1>
        <div class="col-xs-12 col-sm-2 press-logo">
          <%= image_tag('les-inrocks.jpg') %>
        </div>
        <div class="col-xs-12 col-sm-2 press-logo">
        <%= link_to image_tag('le-parisien.png') %>
        </div>
        <div class="col-xs-12 col-sm-2 press-logo">
        <%= link_to image_tag('logo20minutes.png') %>
        </div>
        <div class="col-xs-12 col-sm-2 press-logo">
        <%= link_to image_tag('Elle-logo.jpg') %>
      </div>
      <div class="col-xs-12 col-sm-2 press-logo">
      <%= link_to image_tag('konbini.png') %>
      </div>
      <div class="col-xs-12 col-sm-2 press-logo">
      <%= link_to image_tag('festival.png') %>
      </div>
    </div>
  </div>

