<div class="background">
    <div class="bg-gradient flex">
      <div class="form-group">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="background-white">
              <%= simple_form_for(@repair) do |f| %>
              <div class="form-for">
              <%= f.error_notification %>
              <h3> <i class="fa fa-bicycle"></i> Whant to change your adress? <i class="fa fa-bicycle"></i> <h3>
      <!-- Get the address from home page -->
              <%= f.input :address, label: false %>
      <!-- displaying the category of repair-->
              <h3> Made an error concerning the issue? </h3>
              <%=f.input :category, as: :select, label: false, collection: Repair::CATEGORIES, :include_blank => false %>
              <h3> Or concerning your phone number? </h3>
              <%#= f.input :phone %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= form_tag(new_repair_path, method: :get) do %>
        <div class="form-inline">
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-8">
              <%= text_field_tag :address, nil, class: "form-control", placeholder: "Address", id: "user_input_autocomplete_address" %>
               <%= text_field_tag :postal_code, nil, class: "form-control", id: "postal_code", :type => "hidden"%>
            </div>
          </div>
          <div class="form-group">
            <div class="action-wrapper">
              <%= submit_tag "Rescue me!", class: "btn btn-brand"%>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
