
<% content_for(:title) do %> Your are
  <%= @repair.address %>
<% end %>

<%= cl_image_tag("pf5yfxcalygw3ykqv7xg",
      width: 1400, height: 300, crop: :fill) %>

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="new-repair-container">
        <h1>Tell us about your situation</h1>
        <p> We act urgently to repair <strong>flat tires, broken chains, worn brakes </strong> </p>
        <P>Leave us your details, we remind you immediately </P>
        <%= simple_form_for(@repair) do |f| %>

          <div class="form-for">
            <%= f.error_notification %>
            <h3> <i class="fa fa-bicycle"></i> You are here: <i class="fa fa-bicycle"></i> <h3>
            <%= f.input :address, label: false, input_html: {value: @address} %>
            <h3> Pick your issue on the list </h3>
            <%=f.input :category, as: :select, label: false, collection: Repair::CATEGORIES, :include_blank => false %>
            <%= f.input :photo, as: :attachinary %>
            <%= f.input :photo_cache, as: :hidden %>

            <% if @current_user %>
              <%= f.submit "Be call back now!", class: "btn btn-brand" %>
            <% else %>
              <%= link_to 'Sign up to be call back now!',  new_user_registration_path, class: "btn btn-brand btn-full-width cd-btn main-action"%>
            <% end%>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

