
<!-- displaying the title of the page on the navigation bar -->
<% content_for(:title) do %> Your are
<%= @repair.address %>
<% end %>

<!-- displaying the image of the home page via Cloudinary -->
<div class='banner-bike'>

</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="new-repair-container">
        <h1>Tell us about your situation</h1>
        <p> We act urgently to repair <strong>flat tires, broken chains, worn brakes </strong> </p>
        <P>Leave us your details, we remind you immediately </P>
        <!-- displaying the new form -->
        <%= simple_form_for(@repair, class: "mon_form") do |f| %>

        <div class="form-for">
          <%= f.error_notification %>
          <h3> <i class="fa fa-bicycle"></i> You are here: <i class="fa fa-bicycle"></i> <h3>
            <!-- Get the address from home page -->
            <%= f.input :address, label: false, input_html: {value: @address} %>
            <!-- displaying the category of repair-->
            <h3> Pick your issue on the list </h3>
            <%= f.input :category, as: :select, label: false, collection: Repair::CATEGORIES, :include_blank => true, selected: @category %>
            <!-- displaying the prices of repairs -->
            <div class="row text-center icons-row">
              <div class="col-xs-6 col-sm-3 col-md-2"><P>tire</P>
                <%= image_tag "tire.png", height: '40' %>
                <p> 15 € </p>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2"><p>brake</p>
                <%= image_tag "brake2.png", height: '40' %>
                <p> 20 € </p>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2"><p>chain</p>
                <%= image_tag "chain2.png", height: '40' %>
                <p> 20 €</p>
              </div>
            </div>
          </div>
          <!-- Adding a description and a photo if the choice is not on the list -->
          <% if user_signed_in? %>
          <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <p> Click here if your problem is not on the list</p>
          </a>
          <div class="collapse" id="collapseExample">
            <div class="well">
              <p>Send us a photo with your phone or leave us a description. We will see if we can handle it! </>
                <% #if user_signed_in? %>
                <%= f.input :description, placeholder: "Leave a comment about your issue" %>
                <%= f.input :photo, as: :attachinary %>
              </div>
            </div>
          <% end %>
          <br></br>
            <!-- add a description to repair-->

            <!-- Different view if the client is signed up or not -->
            <% if @current_user %>
            <%= f.submit " Click here for a rescue!", class: "btn btn-danger" %>
            <% else %>
            <%= link_to 'Register to order a rescue!',  new_user_registration_path, class: "btn btn-brand btn-full-width cd-btn main-action"%>
            <% end%>

          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
