

<% content_for(:title) do %> Hello
  <%= @repair.client.first_name %>
<% end %>


<div class="container">
  <div class="raw">
    <div class="col-xs-6">
      <div class= "card_white">
        <h1> Hello <%= @repair.client.first_name %>! Thanks for calling us! </h1>
        <br></br>
        <p>You have a <strong><%= @repair.category %> </strong>? How grating!</p>
        <p> Don't worry! One of our <strong>saver </strong> is ready to help you! He will call you immediately at <strong><%= @repair.client.phone %> </strong></p>
        <p> You are here : <strong><%= @repair.address %> </strong></p>
        <br></br>
        <%= link_to "Cancel your demand", repairs_path, class: "btn btn-brand" %>
      </div>
        <br></br>
          <div id="map" style="width: 100%; height: 600px;">

        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
          <% end %>
          <br></br>
          </div class="center">
      </div>
  </div>
</div>




