

<% content_for(:title) do %>
  <%= @repair.address %> is on Bike angels
<% end %>


<div class="container">
  <div class="raw">
    <div class="col-xs-6">
        <h1><%= @repair.address %></h1>
          <div id="map" style="width: 100%; height: 600px;">

        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
          <% end %>

          </div class="center">
          <%= link_to "Back to all the waiting repairs", repairs_path, class: "btn btn-success" %>
      </div>
  </div>
</div>


<div class="container">
 <div class="row">
    <div class="col-xs-12">
      <h3>Your Booking has been succesfully transmitted, you will receive a confirmation email </h3>
    </div>
    <div class="col-xs-12">
      <p style="height:100px" class="text-center"><%= image_tag "keys.jpg" %> </p>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-default"><%= link_to "go back to the Spot Description", repair_path(@repair) %></button>
      <button class="btn btn-default"><%= link_to "go back to the Spots lists", repair_path(@repair) %></button>
    </div>
  </div>
</div>



