
<!-- displaying the title of the page on the navigation bar -->
<% content_for(:title) do %> Your are
  <%= @repair.address %>
<% end %>

<!-- displaying the image of the home page via Cloudinary -->

<div class='banner-bike baner' >


</div>
<br></br>
<br></br>

<div class="container-fluid client-view">
  <div class="row">

     <div class="col-sm-6 col-md-offset-1">
      <div class="row">

          <div class="col-sm-2 col-xs-hidden">
            <%= image_tag "pneu", height: '70', class: 'img-circle', style: 'margin-top: 22px' %>
          </div>

          <div class="col-sm-10">
<!-- displaying the name of the client -->
             <h1> <strong>Hello <%= @repair.client.first_name %>! </strong></h1>
             <p> Thanks for calling us </p>
             <div id="repair_man", class ="repair_man_name"></div>
            <br></br>
          </div>

<!-- displaying the category of the client's problem -->
      <div class="row">
          <% if @repair.category == "flat tire" %>
         <%= image_tag "tire.png", height: '40' %>
          <% elsif @repair.category == "worn brakes" %>
         <%= image_tag "brake2.png", height: '40' %>
          <% elsif @repair.category == "broken chain" %>
         <%= image_tag "chain2.png", height: '40' %>
          <% end %>
          <p>You have a <strong><%= @repair.category %> </strong>?</p>
  <!-- displaying the phone of the client -->
            <p> Don't worry! One of our <strong>saver</strong> is ready to help you!</p>
            <p> He will call you immediately at <strong><%= @repair.client.phone.gsub(/(.{2})(?=.)/, '\1 \2') %> </strong></p>
            <p> The price of our intervention is:
  <!-- displaying the prices of the repairs -->
          <% if @repair.category == "flat tire" %>
         <P> <strong>15 euros</strong> </P>
          <% elsif @repair.category == "worn brakes" %>
         <p> <strong>15 euros</strong> </p>
          <% elsif @repair.category == "broken chain" %>
         <p> <strong>20 euros</strong> </p>
          <% end %>
          <br></br>
          <div class ="list inline">
            <%= link_to "Cancel your demand", repair_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-brand" %> <%= link_to "Modify your informations", edit_repair_path(@repair), class: "btn btn-brand" %>
        </div>
      </div>
      <br></br>
      <br></br>

      <div class= "row">
      <% if @repair.photo %>
      <p><strong>The photo you sent to us: </strong> </p>
      <%= cl_image_tag @repair.photo.path, width: 350, height: 250, crop: :fill %>
      <% end %>
      <% if @repair.description.present? %>
      <p> <strong>The message you sent</strong> </p>
      <%= @repair.description %>
      <% end %>
      </div>

      </div>
    </div>
<!-- displaying the address of the repair and the map -->
    <div class="col-sm-4">
        <div class="row" style="text-align: justify;">
        <h3>This is our meeting point</h3>
        <strong><address style="margin-bottom: 10px;">
              <%= @repair.address %>
              </address></strong>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=300x300&sensor=false&maptype=roadmap&markers=color:orange|#{@repair.address}" %>
      </div>
    </div>



  </div>
</div>



<% content_for(:after_js) do %>
  <script>

  var pusher = new Pusher('2d2714db74c5bdaeee36', {
      cluster: 'eu',
      encrypted: true
    });

    var channel = pusher.subscribe("repair-<%= @repair.id %>");
    console.log(channel);
    channel.bind('my_event', function(data) {
      $('#repair_man').text(data.repair_man +' is coming!');
    });
  </script>
<% end %>










