

<% content_for(:title) do %>
<%= @current_user.first_name %>, your informations
<% end %>



<div class="container-fluid client-view">
  <div class="row">

     <div class="col-sm-6 col-md-offset-1">
      <div class="row">

          <div class="col-sm-2 col-xs-hidden">
            <%= image_tag "profil", height: '70', class: 'img-circle', style: 'margin-top: 22px' %>
          </div>

          <div class="col-sm-10">
<!-- displaying the name of the client -->
             <h1> <strong>All about <%= current_user.first_name %></strong></h1>

              <br></br>
              <h1>The reparations of your bike:</h1>
              <br></br>

              <% @current_user.problems.each do |problem| %>
                <p>Date: <%= problem.created_at.strftime("%d %b. %Y") %></p><br></br>
                <p>Adress: <%= problem.address %></p><br></br>
                <p>Repair: <%= problem.category %></p>
                <br></br>
                <br></br>
              <% end %>

              <br></br>
              <h1> Your personnal informations </h1>
              <br></br>
              <p> First name: <%= current_user.first_name %></p>
              <br></br>
              <p> Email: <%= current_user.email %></p>
              <br></br>
              <p> Phone number: <%= current_user.phone.gsub(/\s+/, "").gsub(/^\+?33/, "0").gsub(/(.{2})(?=.)/, '\1 \2') %></p>


      </div>
      </div>
    </div>
  </div>
</div>

